@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "LIENTES A RENTAR LA PELICULA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <p>No Existen los clientes</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Clientes a rentar la pelicula seleccionada</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}